<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/assets/css/pureStyle.css}">
</head>
<body>
<th:block th:insert="~{/shared/_navbar.html}"></th:block>

<main>
    <div class="main-content">
        <div class="left-section">
            <div class="large-text">About SHERRETI</div>
            <!-- Main product image would go here -->
            <p class="story-text">
                Welcome to Sherreti, your ultimate destination for all things automotive! We are driven by a passion for excellence in the world of cars. Whether you're a seasoned enthusiast, a first-time buyer, or someone simply looking to learn more about the latest trends in the automotive industry, we are here to guide you.
                <br><br>
                Our mission is to bring you comprehensive insights into cars—ranging from in-depth reviews of the latest models to practical tips on maintenance and buying advice. We strive to bridge the gap between car enthusiasts and everyday drivers by delivering content that is both engaging and informative.
                <br><br>
                At Sherreti Cars, we understand that a car is more than just a vehicle; it's an experience, a companion on life's journeys, and sometimes even a dream come true. That’s why we’re committed to providing expert knowledge, honest opinions, and reliable resources to help you make the best decisions.
            </p>
        </div>
        <div class="story-section">
            <img class="about-img" th:src="@{https://scontent.fbeg4-1.fna.fbcdn.net/v/t39.30808-6/347414458_667774318724382_5075653926912431491_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=nYN-KmqTcaQQ7kNvgHjRGd4&_nc_zt=23&_nc_ht=scontent.fbeg4-1.fna&_nc_gid=ApDBeMTBmyUmljFldqlbcPu&oh=00_AYATUfN7uN7-uGVt4r8o6ivMla4FWeWl6RDI1GosBCdiXg&oe=6799FB37}" alt="">
        </div>
    </div>
</main>

<div class="page-number">2</div>
</body>
</html>